{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome , Guys </h1>
    <p>This is a simple site like blogs</p>
  </div>
<hr>
<button class="btn btn-primary">Create a post</button>
<br> <br>
<div class="card bg-dark text-white">
  <div class="card-header h2">Posts</div>
  <div class="card-body">
    <div class="card bg-light text-dark">
      <div class="card-body">
        <h4 class="card-title">Post 1 by (Tarek)</h4>
        <a href="#" class="card-link">Read the content a this post</a>
      </div>
    </div>
    <br>
    <div class="card bg-light text-dark">
      <div class="card-body">
        <h4 class="card-title">Post 2 by (Ahmed)</h4>
        <a href="#" class="card-link">Read the content a this post</a>
      </div>
    </div>
    <br>
    <div class="card bg-light text-dark">
      <div class="card-body">
        <h4 class="card-title">Post 3 by (Hesham)</h4>
        <a href="#" class="card-link">Read the content a this post</a>
      </div>
    </div>





  </div> 
  
</div>
{% endblock %}
